<div class="container mt-5">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Carrera</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let item of registrados">
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.carrera}}</td>
          <td><button class="btn btn-danger" (click)="eliminar(item)">Eliminar</button></td>
        </tr>
      </tbody>
  </table>
  <div class="mx-5">
    <p class="p-3" *ngIf="msgAgregado" [ngStyle]="{'color':'#1E8449','background-color':'#D4EFDF','text-align':'center','border':'solid 2px'}">¡Se registró con éxito!</p>
    <p class="p-3" *ngIf="msgEliminado" [ngStyle]="{'color':'red','background-color':'#FDEDEC','text-align':'center','border':'solid red 1px'}">¡Se eliminó con éxito!</p>
  </div>
  <div class="row border p-5">
      <h1 class="col-12 text-center mb-4">Formulario de Registro</h1>
      <div class="col-12 text-center">
          <div class="mb-3">
              <label for="name">Nombre: </label>
              <input type="text" id="name" [(ngModel)]="nombre1">
          </div>
          <div class="mb-3">
              <label for="lastname">Apellido: </label>
              <input type="text" id="lastname" [(ngModel)]="apellido1">
          </div>
          <div class="mb-3">
              <label for="work">Carrera: </label>
              <input type="text" id="work" [(ngModel)]="carrera1">
          </div>
  
          <div class="mt-4">
              <button class="btn btn-primary" (click)="insertarDatos()">Guardar</button>
          </div>
      </div>
  </div>
</div>
