<div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Carrera</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td>Luis</td>
            <td>Llanos</td>
            <td>Ing. Sistemas</td>
            <td><button class="btn btn-primary">Eliminar</button></td>
          </tr>
          <tr>
            <td>Luis</td>
            <td>Perez</td>
            <td>Ing. Redes</td>
            <td><button class="btn btn-primary">Eliminar</button></td>
          </tr>
          <tr>
            <td>Luis</td>
            <td>Lopez</td>
            <td>Ing. Electrónico</td>
            <td><button class="btn btn-primary">Eliminar</button></td>
          </tr>
        </tbody>
    </table>
</div>
<div>
    <form action="">

        <h1>Formulario de Registro</h1>
        <div>
            <label for="">Nombre: </label>
            <input type="text">
        </div>
        <div>
            <label for="">Apellido: </label>
            <input type="text">
        </div>
        <div>
            <label for="">Carrera: </label>
            <input type="text">
        </div>

        <div>
            <button class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
